@use "./variable.scss" as *;

.achieve{
    margin: 0 auto;
    margin-top: 109px;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 28px;
    &__big-txt{
    color: $main-text;
    font-size: 4rem;
    margin-bottom: 40px;
}
&__romb--vrap{
    margin-top: 30px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
&__romb{
   width: 10px;
   height: 10px;
   background-color: $main-acent;
   transform: rotateZ(45deg);
   margin-bottom: 60px;
}
&__text{
     color: $main-text;
     font-weight: 500;
     font-size: 1.8rem;
     text-wrap: balance;
}
&__second{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,198px);
}
&__cell{
    width:300px ;
    height: 177px;
border: $border 1px solid;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
&:nth-of-type(2){
    border-left: none;
    height: 177px;
grid-column: 2;
grid-row: 1/3;
align-self: center;
}
&:nth-of-type(4){
    border-left: none;
    height: 177px;
grid-column: 2;
grid-row: 2/4;
align-self: center;
}
&:nth-of-type(6){
    border-left: none;
    height: 177px;
grid-column: 2;
grid-row: 3/5;
align-self: center;
}

&:nth-of-type(8){
    height: 177px;
grid-column: 2;
grid-row: 4/6;
align-self: center;
border-left: none;
position: relative;
}
&:nth-of-type(2n){
    margin-bottom: 100px;
}
&:last-of-type::after{
content: '';
display: block;
position: absolute;
background-color: $border;
width: 1px;
height: 48px;
top: 76%;
right: 100%;
}
}
&__trophy{
    color: $main-acent;
    font-size: 4rem;
    span{
      font-size: 1.5rem;
    }
}
&__descript{
    margin-top: 10px;
    color: $main-text;
    text-align: center;
}

}


@media only screen and (max-width:1500px) {
    .achieve{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        &__second{
            justify-content: center;
        }
        &__romb--vrap{
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media only screen and (max-width:850px) {
.achieve{
    &__second{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,198px);
}
&__cell{
    &:nth-of-type(2){
        grid-row: 2;
  border-left: 1px $border solid;
grid-column: 1;
}
&:nth-of-type(4){
    grid-row: 4;
    border-left: 1px $border solid;
grid-column: 1;
}
&:nth-of-type(6){
    grid-row: 6;
border-left: 1px $border solid;
grid-column: 1;
}

&:nth-of-type(8){
    grid-row: 8;
grid-column: 1;
border-left: 1px $border solid;
}
&:nth-of-type(2n){
    margin-bottom: 0px;
}
}
}
}
@media only screen and (max-width:605px) {

.achieve{
    grid-template-columns: 100%;
        &__big-txt{
    font-size: 3rem;
}
&__text{
    font-size: 1rem;
    font-weight: bold;
    width: 320px;
        text-wrap: balance;
}
}
}