@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskLightC.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskMediumC.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskBoldC.ttf);
  font-weight: bold;
}