@use "./variable.scss" as *;

.head{
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    padding:40px ;
    display: flex;
    justify-content: space-between;
    &__nav-list{
        display: flex;
        justify-content: space-between ;
        width: 521px;
    }
    &__burger{
        width: 50px;
        height: 25px;
        display: grid;
        grid-template-columns: 50px;
        grid-template-rows: repeat(3,8px);
        justify-items: center;

    }
    &__burger-element{
    width: 40px;
    height: 3px;
    background-color: $main-acent;
    border-radius: 2px;
    &:nth-of-type(2){
     justify-self: start;
    }
    }
    &__link{
        letter-spacing: 1.5px;
        text-decoration: none;
        color: $main-text;
    }
}

@media only screen and (max-width:850px) {
    .head__burger{
display: none;

    }

}