@use "./variable.scss" as *;
@import "fonts.scss";
.main-poster{
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 1000px;
}
.contents{
    max-width: 500px;
    margin: 168px auto 138px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents__main-text{
font-size: 9rem;
color:$main-acent ;
margin-bottom: 25px;
}
.contents__wraper-romb{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.contents__rombus{
   width: 10px;
   height: 10px;
   background-color: $main-acent;
   transform: rotateZ(45deg);
}
.contents__text{
    color: $main-text;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
    text-wrap: balance;
    font-family: Grotesk;
    font-weight:500;
}
.contents__btn{
    width:165px;
    font-size:1rem ;
     font-weight:500;
}
.info-bar__table {
    tr{
      display: flex;  
    }
    
    width: 100%;
    td{
      width: 35%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
}
.info-bar__text{
    width: 28%;
    font-size: 1.2rem;
    text-wrap: balance;
    color: $main-acent;
    margin-bottom: 43px;
    margin-top: 40px;
    text-align: center;
    
}
.info-bar__text-vrap{
    font-size: 1.2rem;
    text-wrap: balance;
    color: $main-acent;
    margin-bottom: 23px;
    line-height: 2;
    margin-top: 10px;
    &:last-child{
        margin-top: 0;
    }
   
}
.info-bar__name{
    color: $main-text;
   margin: 43px 0 20px 0;
}
.info-bar__text:nth-of-type(3){line-height: 2;}
// .info-bar__text:nth-of-type(1){line-height: 2;}
.info-bar__table td{
     border: $border 1px solid;
}

@media only screen and (max-width:1500px) {
.info-bar__text{
    width: 200px;
}
}

@media only screen and (max-width:600px) {
    .contents{
        margin-top: 60px;
    }
.contents__main-text{
    font-size: 6rem;
}
.contents__text{
    font-size: 1.8rem;
}
}
@media only screen and (max-width:500px) {
.info-bar__text{
    width: 100px;
    font-size: 0.9rem;
}
.info-bar__text-vrap{
    font-size: 0.9rem;
}

}