@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskLightC.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskMediumC.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskBoldC.ttf);
  font-weight: bold;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
button {
  outline: none;
}

.head {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.head__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 521px;
}
.head__burger {
  width: 50px;
  height: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px;
  grid-template-columns: 50px;
  -ms-grid-rows: (8px)[3];
  grid-template-rows: repeat(3, 8px);
  justify-items: center;
}
.head__burger > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.head__burger > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.head__burger > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.head__burger-element {
  width: 40px;
  height: 3px;
  background-color: #DB3138;
  border-radius: 2px;
}
.head__burger-element:nth-of-type(2) {
  -ms-grid-column-align: start;
      justify-self: start;
}
.head__link {
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #fff;
}

.hide {
  display: none;
}

@media only screen and (max-width: 850px) {
  .head__nav-list {
    display: none;
  }
  .hide {
    display: block;
  }
  .head {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .head__link {
    font-size: 1.8rem;
  }
}
@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskLightC.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskMediumC.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Grotesk";
  src: url(../stuf/ReformaGroteskBoldC.ttf);
  font-weight: bold;
}
.main-poster {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 1000px;
}

.contents {
  max-width: 500px;
  margin: 168px auto 138px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents__main-text {
  font-size: 9rem;
  color: #DB3138;
  margin-bottom: 25px;
}

.contents__wraper-romb {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contents__rombus {
  width: 10px;
  height: 10px;
  background-color: #DB3138;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.contents__text {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2.5rem;
  text-align: center;
  text-wrap: balance;
  font-family: Grotesk;
  font-weight: 500;
}

.contents__btn {
  width: 165px;
  font-size: 1rem;
  font-weight: 500;
}

.info-bar__table {
  width: 100%;
}
.info-bar__table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-bar__table td {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-bar__text {
  width: 28%;
  font-size: 1.2rem;
  text-wrap: balance;
  color: #DB3138;
  margin-bottom: 43px;
  margin-top: 40px;
  text-align: center;
}

.info-bar__text-vrap {
  font-size: 1.2rem;
  text-wrap: balance;
  color: #DB3138;
  margin-bottom: 23px;
  line-height: 2;
  margin-top: 10px;
}
.info-bar__text-vrap:last-child {
  margin-top: 0;
}

.info-bar__name {
  color: #fff;
  margin: 43px 0 20px 0;
}

.info-bar__text:nth-of-type(3) {
  line-height: 2;
}

.info-bar__table td {
  border: #898989 1px solid;
}

@media only screen and (max-width: 1500px) {
  .info-bar__text {
    width: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .contents {
    margin-top: 60px;
  }
  .contents__main-text {
    font-size: 6rem;
  }
  .contents__text {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .info-bar__text {
    width: 100px;
    font-size: 0.9rem;
  }
  .info-bar__text-vrap {
    font-size: 0.9rem;
  }
}
.achieve {
  margin: 0 auto;
  margin-top: 109px;
  width: 70vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 28px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 28px;
}
.achieve > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.achieve > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.achieve__big-txt {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 40px;
}
.achieve__romb--vrap {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.achieve__romb {
  width: 10px;
  height: 10px;
  background-color: #DB3138;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  margin-bottom: 60px;
}
.achieve__text {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  text-wrap: balance;
}
.achieve__second {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (198px)[5];
  grid-template-rows: repeat(5, 198px);
}
.achieve__second > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.achieve__second > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.achieve__second > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.achieve__second > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.achieve__second > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.achieve__second > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.achieve__second > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.achieve__second > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.achieve__second > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.achieve__second > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.achieve__cell {
  width: 300px;
  height: 177px;
  border: #898989 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.achieve__cell:nth-of-type(2) {
  border-left: none;
  height: 177px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
}
.achieve__cell:nth-of-type(4) {
  border-left: none;
  height: 177px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-row-align: center;
      align-self: center;
}
.achieve__cell:nth-of-type(6) {
  border-left: none;
  height: 177px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-row-align: center;
      align-self: center;
}
.achieve__cell:nth-of-type(8) {
  height: 177px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-row-align: center;
      align-self: center;
  border-left: none;
  position: relative;
}
.achieve__cell:nth-of-type(2n) {
  margin-bottom: 100px;
}
.achieve__cell:last-of-type::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #898989;
  width: 1px;
  height: 48px;
  top: 76%;
  right: 100%;
}
.achieve__trophy {
  color: #DB3138;
  font-size: 4rem;
}
.achieve__trophy span {
  font-size: 1.5rem;
}
.achieve__descript {
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  .achieve {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  .achieve__second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve__romb--vrap {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 850px) {
  .achieve__second {
    width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (198px)[8];
    grid-template-rows: repeat(8, 198px);
  }
  .achieve__second > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .achieve__second > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .achieve__second > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .achieve__second > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .achieve__second > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .achieve__second > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .achieve__second > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .achieve__second > *:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .achieve__cell:nth-of-type(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    border-left: 1px #898989 solid;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .achieve__cell:nth-of-type(4) {
    -ms-grid-row: 4;
    grid-row: 4;
    border-left: 1px #898989 solid;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .achieve__cell:nth-of-type(6) {
    -ms-grid-row: 6;
    grid-row: 6;
    border-left: 1px #898989 solid;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .achieve__cell:nth-of-type(8) {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    grid-column: 1;
    border-left: 1px #898989 solid;
  }
  .achieve__cell:nth-of-type(2n) {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 605px) {
  .achieve {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .achieve__big-txt {
    font-size: 3rem;
  }
  .achieve__text {
    font-size: 1rem;
    font-weight: bold;
    width: 320px;
    text-wrap: balance;
  }
}
.car-slide {
  max-width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.car-slide__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  gap: 15px;
}
.car-slide__wrap {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.car-slide__img {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
  top: 3%;
}
.car-slide__text {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  text-align: center;
  text-wrap-style: balance;
  width: 75%;
}
.car-slide__text::after {
  content: "";
  position: absolute;
  display: block;
  width: 110%;
  height: 55px;
  background-color: #DB3138;
  z-index: -1;
  top: -40%;
  left: -5%;
}

.slider__arrow-box {
  width: 40px;
  height: 40px;
  border: 1px solid #DB3138;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__arrow {
  color: #fff;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  font-size: 2rem;
}

body {
  font-family: "Grotesk";
  font-weight: bold;
  background-color: #141414;
}

.vraper {
  width: 100%;
  position: relative;
}

.btn {
  position: relative;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 15px 25px;
}
.btn::before {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #DB3138;
  z-index: -1;
}